<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <main-menu></main-menu>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar-nav-fixed affix hidden-sm hidden-xs">
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie L1"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie L2"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie L3"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie L3"/></div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <div class="well well-sm">
                    <img class="center-block img-responsive" src="http://placehold.it/1024x120" alt="Advertentie"/>
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-md-2">
            <div class="sidebar-nav-fixed pull-right affix hidden-sm hidden-xs">
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie R1"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie R2"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie R3"/></div>
                <div class="well well-sm"><img class="center-block img-responsive" src="http://placehold.it/250x150" alt="Advertentie L3"/></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cold-md-12">
            <div class="container-fluid">
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="navbar-text">
                        <p>Copyright © <a href="http://billiardsoftware.be" target="_blank">Billiard Software</a></p>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
